if users
    table.scoreboard__table
        tbody
            each user in users
                tr.scoreboard__table-row
                    td.scoreboard__table-col= user.email
                    td.scoreboard__table-col= user.username
                    td.scoreboard__table-col= user.rank

    div
        a.scoreboard__pagination-link#prev(href="#") <
        a.scoreboard__pagination-link#next(href="#") >
