.auth-form__input {
    border: 40px;
    background-color: #cccccc;
    display: block;
    margin: 10px auto;
    height: 32pt;
    font-size: 27px;
    text-align: center;
}

.auth-form__input[type="submit"] {
    background-color: transparent;
}

.auth-form__input::placeholder {
    color: #26547C;
}

.form-buttons td {
    border: 2px solid #fffff8;
}

.form-buttons td:hover {
    border-color: #EF476F;
}

td.space {
    border: transparent;
    width: 6px;
}

.bordered {
    color: #fffff8;    
    border: 40px;
    font-family: system-ui;
    font-size: 27px;
    font-size: 27px;
    text-align: center;
}

input.bordered {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.orsignup {
    float: right;
    margin: 22px 0 22px 0;
}

table {
    width: 100%;
    border-spacing: 0;
}