$background-color: linear-gradient(to bottom right, #000000, rgb(0, 44, 58));
$background-color-landscape: linear-gradient(to top right, #000000, rgb(0, 44, 58));
$link-color: #FFFCF9;
$primary-color: #EF476F;
$primary-content-color: white;