@import "system-font.scss";

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: Comfortaa-Light, serif;
    background: linear-gradient(to bottom right, #000000, rgb(0, 44, 58));
    background-size: cover;
    color: white;
}

a {
    color: white;
}

ul {
    padding: 0;
    list-style-type: none;
    display: block;
    margin: 0 auto;
}

.header {
    line-height: 92%;
    font-family: Righteous-Regular, serif;
    font-size: 80px;
}

a {
    text-decoration: none;
}

.menu {
    margin-top: 3%;
    font-size: 26px;
    text-decoration: none;
}

.menu-item {
    margin-bottom: 3px;
}

[data-section] {
    color: #FFFCF9;
}

li:hover {
    text-decoration-color: #EF476F;
    color: #EF476F;
}

a:hover {
    text-decoration-color: #EF476F;
    color: #EF476F;
}

.back {
    margin-bottom: 20px;
    color: #99c2ff7c;
    font-size: 21px;
}

.uxui td {
    outline: thin solid;
    padding: 19px;
}

[data-section='uxui']:not(:hover) {
    opacity: 0;
}
