@font-face {
    font-family: "Sea_font";
    src: url("/static/fonts/carbo.ttf");
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: Sea_font, serif;
    background-image: url("/static/media/cabin.jpg");
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.73);
    background-size: cover;
    color: white;
}

ul {
    padding: 0;
    list-style-type: none;
    display: block;
    margin: 0 auto;
}

.header {
    font-size: 80px;
    color: #ffffff;
}

.auth-info {
    position: absolute;
    top: 2%;
    right: 1%;
}

a {
    text-decoration: none;
}

a.signup {
    color: white;
    margin-top: 60px;
    font-size: 40px;
}

.menu {
    font-size: 26px;
    text-decoration: none;
}

.section {
    color: #ffffff;
}

[data-section="multiplayer"] {
    color: #00ffa1;
}

[data-section="singleplayer"] {
    color: #f5ff4c;
}

[data-section="scoreboard"] {
    color: #ff874e;
}

[data-section="rules"] {
    color: rgb(255, 45, 75);
}

.back {
    margin-top: 60px;
    color: #f9ff68;
}

#rules {
    width: 60%;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}