section(class="menu multiplayer-page")
    include ../../components/menu-ref/menu-ref.pug
        div.singleplayer-page__container.container--flex
            div.ocm
            div.score__root
            canvas#multiplayer-page__canvas(height=100 width=100 hidden)
            a.multiplayer-page__start-game-button(href="#" hidden) >
