include ../menu-ref/menu-ref.pug
if locals.win === true
    p.game-over__result-label Победа!
else
    p.game-over__result-label Ты проиграл
button.form__control--bordered.game-over__play-again-button(type='button') Играть снова
