include ../menu-ref/menu-ref.pug
if locals.win === true
    p.game__game_over__result_label Ты подебил
else
    p.game__game_over__result_label Ты проиграл
button(type='button' class='game__game_over__play_again__button form__control-bordered') Играть снова
