.bar {
    position: absolute;
    top: 2%;
    right: 1%;
}

/*noinspection CssUnusedSymbol*/
.field_name {
    background-color: #2aabd2;
}

.profile-info {
    margin: 0 0 0 145px;
}

.profile-info i {
    color: rgba(255, 255, 255, 0.685);
}

.profile-info h4 {
    text-align: left;
}

.img-with-text {
    float: left;
    text-align: center;
    width: 128px;
}

.img-with-text img {
    display: block;
    margin: -14px 0 4px 0;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.btn {
    background-color: transparent;
    border: transparent;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.update {
    color: #62ff7c;
}

.delete {
    color: #ff6262;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

/*noinspection CssUnusedSymbol*/
.change-avatar {
    display: inline;
}

.avatar {
    object-fit: cover;
    width: 128px;
    height: 128px;
    border: 2px solid #fffff8;
    border-radius: 100%;
}

table {
    width: 100%;
    border-spacing: 0;
}
