.sc-form__input {
    border: 40px;
    background-color: #cccccc;
    display: block;
    margin: 10px auto;
    height: 32pt;
    font-size: 27px;
    text-align: center;
}

.sc-form__input[type="submit"] {
    background-color: transparent;
}

.sc-form__input::placeholder {
    color: #26547C;
}

td.button-container{
    height: 1px;;
}

td.space {
    border: transparent;
    width: 6px;
}

.bordered-button {
    color: #fffff8;
    border: 2px solid #fffff8;    
    font-family: system-ui, serif;
    font-size: 27px;
    text-align: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.bordered-button:hover {
    border-color: #EF476F;
    text-decoration-color: #EF476F;
    color: #EF476F;
    cursor: pointer;
}

.section-opener{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.bordered-button:hover .section-opener {
    color: #EF476F;
}
