.rules-page {
    font-size: 22px !important;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.rules-page--li {
    &:hover {
        color: white;
    }
}
