section(class="menu rules-page")
    include ../../components/menu-ref/menu-ref.pug
    p ShipCollision - это морской бой, но, не совсем обычный.
    | В игре присуствует поле, размер которого изменяется в зависимости от числа игроков.
    | В качестве кораблей игроку выдаётся некоторое количество клеток, которые можно распологать на поле как угодно. Основной особенностью игры является то, что поля игроков "накладываются" друга на друга, образуя единое поле. В связи с этим у игрока есть возможность стрелять по любым клеткам, включая те, где стоят его собственные корабли.

    p При выстреле в клетку, где не было кораблей, или где при наложении полей находился всего один корабль игрок получит 0 и 1 очко соответственно.

    p При попадании в клетку, где при наложении образовалось несколько кораблей, игрок получит столько очков, сколько кораблей находилось в клетке.

    p При выстреле по своему кораблю возможны 2 варианта:
        ol
            li.rules-page--li В данной клетке не находилось чужих кораблей, тогда игрок не получит очков, и потеряет корабль.
            li.rules-page--li В данной клетке находились чужие корабли, помимо корабля игрока, тогда количество полученных очков будет равно количеству уничтоженных чужих кораблей, умноженному на 2.

    p Игра завершается только после того, как все вражеские корабли были уничтожены.