.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form__fields {
    display: block;
    margin-bottom: 10px;
}

.form__fields-input {
    border: 40px;
    background-color: #cccccc;
    display: block;
    margin: 10px auto;
    height: 32pt;
    font-size: 27px;
    text-align: center;
}

.form__fields-input[type="submit"] {
    background-color: transparent;
}

.form__fields-input::placeholder {
    color: #26547C;
}

.form__controls {
    display: flex;
    flex-direction: row;
}

.form__control-bordered {
    color: #fffff8;
    border: 2px solid #fffff8;
    font-family: system-ui, serif;
    font-size: 27px;
    text-align: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.form__control-bordered:hover {
    border-color: #EF476F;
    text-decoration-color: #EF476F;
    color: #EF476F;
    cursor: pointer;
}

td.button-container{
    height: 1px;;
}

td.space {
    border: transparent;
    width: 6px;
}