section(class="menu menu-page")
    div.header
        | SHIP
        br
        | COLLISION
    hr
    nav.menu
        ul
            each item in navItems
                li.menu-item
                    a(href=`${item.href}`) #{item.title}
