section(id=`${pageId}` hidden=true)
    div(class="header")
        | SHIP
        br
        | COLLISION
    hr
    div(class="menu")
        ul
            li
                a(href="#" data-section="multiplayer") Multiplayer
            li
                a(href="#" data-section="singleplayer") Singleplayer
            li
                a(href="#" data-section="scoreboard") Scoreboard
            li
                a(href="#" data-section="rules") Rules
