section(class="menu settings-page")
    include ../../components/menu-ref/menu-ref.pug
    div.profile-page__img-with-text
        if avatarLink
            img.profile-page__avatar.settings-page__img-with-text--center(src=`${avatarLink}`)
        form(action=`${uploadAvatarLink}` method="post" id="upload-avatar" enctype="multipart/form-messages")
            span.settings-page__upload-button
                button.settings-page__btn--update Update
                input(type="file" name="avatar")
        button.settings-page__btn--delete#delete-avatar Delete
        hr
    div.js-settings-form-root
        include ../../components/form/form.pug
