.settings__sc-form {
    margin: 0 0 45px 0;
}

.settings-page__img-with-text--center {
    text-align: center;
}

.settings-page__upload-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;

    input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }
}

.settings-page__btn {
    background-color: transparent;
    border: transparent;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;

    &--delete {
        color: #ff6262;
    }

    &--update {
        color: #62ff7c;
    }
}
