section(class="menu singleplayer-page")
    div.ocm
    div.score__root
    canvas#singleplayer-page__canvas(height=100 width=100 hidden)
    a.singleplayer-page__start-game-button(href="#" hidden) >
