@import "../../css/mixins";

.singleplayer-page {
    width: 100%;
    height: 100%;
}

.singleplayer-page__start-game-button {
    @include center;

    font-size: 128pt;
    color: white;
    z-index: 100;
}
