@import "../../css/constants";

$font-size: 27px;

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__fields-container {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

%field {
    display: block;
    width: 100%;
    margin: 10px auto;
}

.form__input {
    @extend %field;

    border: 40px;
    background-color: #cccccc;
    height: 32pt;
    font-size: $font-size;
    text-align: center;

    &[type="submit"] {
        background-color: transparent;
    }

    &::placeholder {
        color: #26547C;
    }
}

.form__controls-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

%control {
    width: 100%;
    height: 100%;
    color: #fffff8;
    font-family: system-ui, serif;
    font-size: $font-size;
    text-align: center;
    background-color: transparent;
}

.form__control {
    @extend %control;
}

.form__control--bordered {
    @extend %control;

    border: 2px solid #fffff8;

    &:hover {
        border-color: #EF476F;
        text-decoration-color: #EF476F;
        color: #EF476F;
        cursor: pointer;
    }
}

.form__link {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.form__space {
    border: transparent;
    width: 10px;
}

@media screen and (max-height: 400px) {
    .form__input {
        border: 20px;
        height: 28pt;
        font-size: $font-size - 3;
    }

    .form__control {
        font-size: $font-size - 3;
    }

    .form__control--bordered {
        font-size: $font-size - 3;
    }

    .form__link {
        font-size: $font-size - 3;
    }
}

@media screen and (max-width: 350px), (max-height: 350px) {
    .form__input {
        border: 20px;
        height: 26pt;
        font-size: $font-size - 5;
    }

    .form__control {
        font-size: $font-size - 5;
    }

    .form__control--bordered {
        font-size: $font-size - 5;
    }

    .form__link {
        font-size: $font-size - 5;
        margin-top: 5px;
    }
}
