.msg {
    margin: auto;
    padding: 12px;

    &--info {
        color: #00529B;
        background-color: #BDE5F8;
    }

    &--success {
        color: #4F8A10;
        background-color: #DFF2BF;
    }

    &--error {
        color: #D8000C;
        background-color: #FFD2D2;
    }
}
